.title-books {
  margin-bottom: 30px;
}

.wrapper-book {
  margin-bottom: 10px;
  padding: 10px;
}

.wrapper-book:hover {
  background-color: #e0e6ff;
}

#booklist img {
  width: inherit;
}
