.wrapper-auth {
  margin-top: 50px;
  padding: 50px;
}

.wrapper-btn {
  margin-top: 10px;
  text-align: right;
}

.wrapper-errors {
  margin: 10px 0;
  text-align: right;
}

.title-auth {
  margin-bottom: 30px;
  text-align: center;
}
