.wrapper {
  border-radius: 5px;
}

.wrapper-blue {
  background: #d2daff;
  border: 1px solid #bbf;
}

.error {
  color: red;
  font-size: 0.75em;
  font-style: italic;
  visibility: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
