{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class='row'>
    <div class='col-md-12 offset-lg-2 col-lg-8'>
      <div class='wrapper wrapper-blue wrapper-auth'>
        <h6 class='title-auth'>
          Авторизуйтесь, чтобы посмотреть ваши книги
        </h6>

        <form id='form-auth'>
          {% csrf_token %}
          <div class='form-row'>
            {% block form %}
            <div class='col'>
              {{ form.login }}
            </div>
            <div class='col'>
              {{ form.password }}
            </div>
            {% endblock %}
          </div>
        </form>
        <div class="wrapper-errors">
          <span id="error-auth" class="error">

          </span>
        </div>
        <div class="wrapper-btn">
          <button id='button-signin' class='btn btn-primary'>Войти</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block styles %}
  <link rel='stylesheet' href='{% static "styles/auth.css" %}'>
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='{% static "scripts/auth/auth.js" %}'></script>
{% endblock %}
