{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Мои книги {% endblock %}</title>

  <link rel='stylesheet' href='{% static "distrs/bootstrap/css/bootstrap.min.css" %}'>
  <link rel='stylesheet' href='{% static "styles/common.css" %}'>

  {% block styles %}
  {% endblock %}

  <script type='text/javascript' src='{% static "distrs/jquery.js" %}'></script>
  <script type='text/javascript' src='{% static "scripts/common.js" %}'></script>

  {% block scripts %}
  {% endblock %}

</head>

<body>
  <div class='container'>
    {% block header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
