{% extends 'base.html' %}
{% load static %}

{% block header %}
  <div class='row'>
    <div class="col">
      <div class='wrapper-btn'>

        <div class="btn-group" role="group">
          <button id='btn-books-recomend' class='btn btn-primary'>Рекомендованное</button>
          <button id='btn-books-my' class='btn btn-primary'>Мои книги</button>
          <button id='btn-disauth' class='btn btn-primary'>Выйти</button>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
        <h3 class='title-books'> {% block htmltitle %} Мои книги | {{ request.user.username }} {% endblock %}</h3>
    </div>
  </div>
{% endblock %}

{% block content %}

  {% csrf_token %}

  <div id='booklist' class='row'>
    <div class='col'>
    </div>
  </div>

  <div class='row justify-content-center'>
    <nav>
      <ul class='pagination'>
        <li id='page-prev' class='page-item disabled' data-href='' tab-index='-1'><a class='page-link'>< Назад</a></li>
        <li id='page-next' class='page-item disabled' data-href='' tab-index='-1'><a class='page-link'>Вперед ></a></li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block styles %}
  <link rel='stylesheet' href='{% static "styles/books/books-common.css" %}'>
  <link rel='stylesheet' href='{% static "styles/disauth.css" %}'>
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='{% static "scripts/books/books-common.js" %}'></script>
  <script type='text/javascript' src='{% static "scripts/auth/disauth.js" %}'></script>
{% endblock %}
