{% extends 'auth.html' %}
{% load static %}

{% block form %}
  <div class='col'>
    <input class='form-control' name='email' type='text' placeholder='E-mail'>
  </div>
  <div class='col'>
    <input class='form-control' name='password', type='password' placeholder='Пароль'>
  </div>
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='{% static "scripts/mybook/auth.js" %}'></script>
{% endblock %}
